<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>GoLaundry - Home</title>
		<!-- Bootstrap -->
		<link
			rel="stylesheet"
			href="/app-laundry/assets/vendor/bootstrap/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="/app-laundry/assets/landing-page/css/Style.css"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="/app-laundry/assets/vendor/fontawesome/css/all.css"
			type="text/css"
		/>
		<!-- jQuery -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
			integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
			integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css"
		/>
	</head>

	<body>
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">GoLaundry</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNav"
					aria-controls="navbarNav"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Cek Status</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Daftar Harga</a>
						</li>
						<li class="nav-item">
							<a class="nav-link">Disabled</a>
						</li>
					</ul>
					<div class="navbar-nav ms-auto">
						<div
							class="person_box"
							data-bs-toggle="modal"
							data-bs-target="#AuthorizationForm"
						>
							<i class="far fa-user"></i>
							<div class="person_auth" style="display: inline-block">
								<span class="">Masuk/Daftar</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<!-- End Navbar -->

		<!-- Modal Login & Register -->
		<div
			class="modal fade"
			id="AuthorizationForm"
			tabindex="-1"
			aria-labelledby="exampleModalLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">GoLaundry</h5>
						<p>
							Mendaftar ke situs web ini, Anda sudah membaca, mengerti dan
							menyetujui 【Syarat dan Ketentuan】 dan 【Privacy Policy】
						</p>
					</div>
					<div class="modal-body">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item" role="presentation">
								<button
									class="nav-link active"
									id="masuk-tab"
									data-bs-toggle="tab"
									data-bs-target="#masuk"
									type="button"
									role="tab"
									aria-controls="masuk"
									aria-selected="true"
								>
									Masuk
								</button>
							</li>
							<li class="nav-item" role="presentation">
								<button
									class="nav-link"
									id="daftar-tab"
									data-bs-toggle="tab"
									data-bs-target="#daftar"
									type="button"
									role="tab"
									aria-controls="daftar"
									aria-selected="false"
								>
									Daftar
								</button>
							</li>
						</ul>
						<div class="tab-content py-3" id="myTabContent">
							<div
								class="tab-pane fade show active"
								id="masuk"
								role="tabpanel"
								aria-labelledby="masuk-tab"
							>
								<form action="#" method="post">
									<div class="input-group">
										<div
											class="
												input-group-text
												justify-content-center
												col-1
												bg-transparent
												border-end-0
											"
										>
											<span class="fa fa-user"></span>
										</div>
										<input
											type="text"
											class="form-control border-start-0 border-start-0"
											placeholder="Username"
											name="username"
										/>
									</div>
									<div class="input-group">
										<div
											class="
												input-group-text
												justify-content-center
												col-1
												bg-transparent
												border-end-0
											"
										>
											<span class="fa fa-lock"></span>
										</div>
										<input
											type="password"
											class="form-control border-start-0"
											placeholder="Password"
											name="password"
										/>
									</div>
									<div class="mb-3 mx-2 form-check">
										<input
											type="checkbox"
											class="form-check-input"
											name="rememberme"
											id="rememberme"
										/>
										<label class="form-check-label" for="rememberme"
											>Remember me</label
										>
									</div>
									<div class="d-grid mx-auto">
										<button
											type="submit"
											class="btn btn-primary mt-3 rounded-pill"
										>
											Login
										</button>
									</div>
								</form>
							</div>
							<div
								class="tab-pane fade"
								id="daftar"
								role="tabpanel"
								aria-labelledby="daftar-tab"
							>
								<form action="#" method="post">
									<div class="input-group">
										<div
											class="
												input-group-text
												justify-content-center
												col-1
												bg-transparent
												border-end-0
											"
										>
											<span class="fa fa-user"></span>
										</div>
										<input
											type="text"
											class="form-control border-start-0"
											name="nama"
											placeholder="Nama Lengkap"
										/>
									</div>
									<div class="input-group">
										<div
											class="
												input-group-text
												justify-content-center
												col-1
												bg-transparent
												border-end-0
											"
										>
											<span class="fa fa-phone"></span>
										</div>
										<input
											type="text"
											class="form-control border-start-0"
											name="no_hp"
											placeholder="Kontak"
										/>
									</div>
									<div class="input-group">
										<div
											class="
												input-group-text
												justify-content-center
												col-1
												bg-transparent
												border-end-0
											"
										>
											<span class="fa fa-transgender"></span>
										</div>
										<select name="jk" class="form-control border-start-0">
											<option value="Pria">Pria</option>
											<option value="Wanita">Wanita</option>
										</select>
									</div>
									<div class="input-group">
										<div
											class="
												input-group-text
												justify-content-center
												col-1
												bg-transparent
												border-end-0
											"
										>
											<span class="fa fa-home"></span>
										</div>
										<textarea
											rows="3"
											size="30"
											type="text"
											class="form-control border-start-0"
											name="alamat"
											placeholder="Alamat Lengkap"
										></textarea>
									</div>
									<div class="input-group">
										<div
											class="
												input-group-text
												justify-content-center
												col-1
												bg-transparent
												border-end-0
											"
										>
											<span class="fa fa-user"></span>
										</div>
										<input
											type="text"
											class="form-control border-start-0"
											name="username"
											placeholder="Username"
										/>
									</div>
									<div class="input-group">
										<div
											class="
												input-group-text
												justify-content-center
												col-1
												bg-transparent
												border-end-0
											"
										>
											<span class="fa fa-lock"></span>
										</div>
										<input
											type="password"
											class="form-control border-start-0"
											name="password"
											placeholder="Password"
										/>
									</div>
									<div class="d-grid mx-auto">
										<button
											type="submit"
											class="btn btn-primary mt-3 rounded-pill"
										>
											Konfirmasi Pendaftaran
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header -->
		<header class="page-header gradient text-white text-center">
			<div class="container pt-3">
				<div class="row align-items-center justify-content-center">
					<div class="col-md-6">
						<h2 class="fw-bold">Bersih, Rapi dan Wangi.</h2>
						<p class="lh-sm">
							Jasa laundry kiloan dan satuan, Kami sudah melayani ratusan
							pelanggan dari seluruh Bekasi
						</p>
						<button type="button" class="btn btn-outline-success">
							Laundry Sekarang
						</button>
					</div>
					<div class="col-md-6">
						<img
							class="img-fluid"
							src="/app-laundry/assets/landing-page/img/washing-machine.jpg"
							alt="Header Image"
						/>
					</div>
				</div>
			</div>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
				<path
					fill="#f9fafb"
					fill-opacity="1"
					d="M0,192L48,197.3C96,203,192,213,288,197.3C384,181,480,139,576,149.3C672,160,768,224,864,218.7C960,213,1056,139,1152,112C1248,85,1344,107,1392,117.3L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
				></path>
			</svg>
		</header>
		<!-- End Header -->

		<!-- Section Features -->
		<section class="features-icons text-center">
			<div class="container">
				<h3
					class="fs-1 fw-bolder pb-3"
					style="font-family: Verdana, Geneva, Tahoma, sans-serif"
				>
					Kenapa GoLaundry?
				</h3>
				<p class="fs-6 pb-3">
					GoLaundry berkomitmen menjadi partner terpercaya di seluruh Indonesia.
					Inilah 10 alasan tepat untuk memilih GoLaundry
				</p>
				<div class="row slick">
					<div class="col-lg-4">
						<div class="features-icons-item p-5 mx-auto mb-5 mb-lg-0 mb-lg-3">
							<div class="features-icons-icon d-flex mb-2">
								<img
									class="h-100 mx-auto"
									src="http://localhost/app-laundry/assets/landing-page/img/svg/washing-machine.png"
									alt="Features Logo"
								/>
							</div>
							<h3 class="fw-bolder">Pakaian Bersih</h3>
							<p class="fs-6">Dicuci dengan mesin dan detergen yang terbaik.</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="features-icons-item p-5 mx-auto mb-5 mb-lg-0 mb-lg-3">
							<div class="features-icons-icon d-flex mb-2">
								<img
									class="h-100 mx-auto"
									src="http://localhost/app-laundry/assets/landing-page/img/svg/baju.svg"
									alt="Features Logo"
								/>
							</div>
							<h3 class="fw-bolder">Pakaian Rapi</h3>
							<p class="fs-6">Pakaian disetrika dengan teliti baik.</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="features-icons-item p-5 mx-auto mb-5 mb-lg-0 mb-lg-3">
							<div class="features-icons-icon d-flex mb-2">
								<img
									class="h-100 mx-auto"
									src="http://localhost/app-laundry/assets/landing-page/img/svg/perfume.svg"
									alt="Features Logo"
								/>
							</div>
							<h3 class="fw-bolder">Pakaian Wangi</h3>
							<p class="fs-6">
								Menggunakan pewangi pakaian yang terbaik dan wangi tahan lama.
							</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="features-icons-item p-5 mx-auto mb-5 mb-lg-0 mb-lg-3">
							<div class="features-icons-icon d-flex mb-2">
								<img
									class="h-100 mx-auto"
									src="http://localhost/app-laundry/assets/landing-page/img/svg/perfume.svg"
									alt="Features Logo"
								/>
							</div>
							<h3 class="fw-bolder">Pakaian Wangi</h3>
							<p class="fs-6">
								Menggunakan pewangi pakaian yang terbaik dan wangi tahan lama.
							</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="features-icons-item p-5 mx-auto mb-5 mb-lg-0 mb-lg-3">
							<div class="features-icons-icon d-flex mb-2">
								<img
									class="h-100 mx-auto"
									src="http://localhost/app-laundry/assets/landing-page/img/svg/perfume.svg"
									alt="Features Logo"
								/>
							</div>
							<h3 class="fw-bolder">Pakaian Wangi</h3>
							<p class="fs-6">
								Menggunakan pewangi pakaian yang terbaik dan wangi tahan lama.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Section Features -->

		<!-- Section Tracking -->
		<section class="tracking gradient">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
				<path
					fill="#f9fafb"
					fill-opacity="1"
					d="M0,128L80,154.7C160,181,320,235,480,213.3C640,192,800,96,960,80C1120,64,1280,128,1360,160L1440,192L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"
				></path>
			</svg>
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<img
							src="/app-laundry/assets/landing-page/img/svg/seo_monochromatic.svg"
							alt=""
						/>
					</div>
					<div class="col-md-8 ps-5">
						<div
							class="card my-5 shadow justify-content-center"
							style="border-radius: 20px"
						>
							<div class="card-body text-center">
								<form>
									<div class="mb-3">
										<h3 class="fw-bolder">Cek Status Laundry Kamu</h3>
										<p>
											Masukan 10 digit nomor resimu dan klik tombol Cek untuk
											melihat status laundry.
										</p>
										<input
											type="number"
											class="form-control"
											placeholder="Masukan Nomor Kode/Resi"
										/>
									</div>
									<button type="submit" class="btn btn-primary">Cek</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer class="gradient">
			<div class="container-fluid text-center text-white p-3">
				<span>Made with <i class="bi bi-heart-fill"></i> by Ilham Hanif</span>
			</div>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
			integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script
			type="text/javascript"
			src="/app-laundry/assets/landing-page/js/script.js"
		></script>
		<script src="/app-laundry/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			$(function () {
				$(document).ready(function () {
					var data = $(".data-flush").data("flash");
					console.log(data);
					if (data) {
						var a = data.split(",");
						if (a[1].replace(/\s/g, "") == "success") {
							swal("Information!", a[0], "success");
						} else {
							swal("Information!", a[0], "error");
						}
					}
				});
			});
		</script>
	</body>
</html>
